<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body class="skin-default-dark fixed-layout">
  <h1 class="navbar-header">Burası MasterPage - Home</h1>
  <a [routerLink]="['/Home/About']">About</a>
  <button (click)="logOut()" style="float:right">Çıkış Yap</button>
  <hr>
  <router-outlet></router-outlet>
  <input type="text" placeholder="Aranacak Kelime" [(ngModel)]="searchWord">
  <input type="text" placeholder="Getirilecek Gif" [(ngModel)]="limit">
  <button (click)="getGifs()">Gif Getir</button>
  <img *ngFor="let item of this.gifs" src="{{item.images.downsized.url}}">
  
 

</body>

</html>
